menu {
  padding-inline: 10px;

  li {
    padding-top: 3px;
  }

  button {
    margin-inline-start: 3px;
  }
}

img {
  background: linear-gradient(45deg, lightgray, white);
  /* border: 1px solid black; */
  /* border-radius: 3px; */
  padding: 1ch;
}
